@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}
#gh{
    display:flex;
    flex-direction:column;
    margin-left:40%;
    margin-right:40%;
    background-color: #fff;
    padding:5px;
    align-items: center;
    margin-top:100px;
}
#hintext{
    font-weight:bolder;

}
.score{
    display:flex;
    margin-left:45%;
    margin-top:5%;
    font-size:2em;
    color:white;
}
#demo{
    display:flex;
    margin-left:10%;
    margin-top:20%;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(220, 0, 15);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
#guess{
    display:flex;
    flex-direction:row;
    justify-content:center;

}
#nextbtn{
    
    display:none;
    margin-top:20px;
    background-color: rgb(220, 0, 15);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    color:white;
    padding:5px;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

body{
    background-color: #4e54c8;
}
#subbtn{
    background-color: rgb(220, 0, 15);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    color:white;
    padding:5px;
}
.letter{
     display:flex;
     width:60px;
     height:60px;
     background-color: rgb(0, 194, 220);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
     color:white;
     align-items:center;
     justify-content:center;
     margin-left:2px;
     margin-right:2px;
     border-radius:2px;
}
.space{
     display:flex;
     width:60px;
     height:60px;
     align-items:center;
     justify-content:center;
     margin-left:2px;
     margin-right:2px;
}
input{
  width:56px;
  height:56px;
  font-size:2em;
  border:2px solid black;
  margin-left:2px;
  margin-right:2px;
  text-align: center;
}
#subbtn{
    margin-left:10px;
}
.dn{
    display:none;
}
#one{
    display:flex;
    margin-top: 200px;
    margin-left:100px;
}
#what{
    display:flex;
    justify-content:space-between;
    width:90%;
    margin-left:5%;
}
#correct,#wrong{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#ctext,#wtext{
    display:flex;
    flex-direction:column;
}
#wrong p{
    background-color: rgb(220, 0, 15);
}
.movie{
    width:300px;
    height:30px;
    text-align: left;
}
#gamewin,#gameloss{
    display:none;
}